td.hidden img {
  display: none;
}
td.hidden:hover {
  color: blue;
}
td.hidden:hover img{
  display: block;
  position: absolute;
}
tbody tr:hover {
  background-color: rgb(234,226,183,0.5);
}
.bg_color1 {
  background: #003049;
}
.bg_color2 {
  background: #d62828;
}
.bg_color3 {
  background: #f77f00;
}
.bg_color4 {
  background: #fcbf49;
}
.bg_color5 {
  background: rgb(234,226,183,0.5);
}
.main_bg {
  background-image: url(./images/home.svg);
  background-size: 100%;
}
.cmd_bg {
  background-image: url(./images/cmd.svg);
  background-size: 100%;
}
.nav {
  background: rgb(234,226,183,0);
}
.textblock {
  height: 400px;
  width: 600px;
}
.textblock:hover {
  background: rgb(255,255,255,0)
}
.gra {
  background: linear-gradient(to bottom, rgba(244,244,244,0) 0%,rgba(244,244,244,1) 100%);
}
.button {
  box-shadow: 0 0 20px #f4f4f4;
  transition: background-color 0.5s ease-out;
}
.button:hover {
  background-color: #f4f4f4
}
.button:hover {
  color: #444;
}
.bg_color6 {
  background: #23272A;
}
.shadow {
  box-shadow: 2px 2px 10px 0 rgba( 0, 0, 0, .8) 
}
.font1 {
  font-family: 'Montserrat', sans-serif;
}